.banner-section {
    position: relative;
    text-align: center;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

.banner-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(247, 199, 208);

}

.banner-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #3F3F3F;
    padding: 4rem;

}

.banner-description {
    width: 50%;
    text-align: left;
}

.banner-description>h1 {
    font-size: 3rem;
    font-weight: 700;
}

.banner-description>p {
    font-size: 1rem;
    font-weight: 300;
}

span {
    color: #F72D57;
}

.banner-image {
    width: 50%;
    transform: rotate(-59.69deg);
}

.banner-image img {
    width: 100%;
    background-image: url('../../assets/splash-food.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(120.31deg);


}

/* mobile devices */
@media screen and (max-width:623px) {

    .banner-container {
        flex-direction: column;
        padding: 1rem;
    }

    .banner-image {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-description {
        width: 100%;
    }

    .banner-description>h1 {
        font-size: 2rem;
    }
}